{% extends 'base.html' %}
{% block title_block %} {{ title }} {% endblock %}

{% block css_block %}

{% endblock %}

{% block body_block %}
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr><th colspan="7" class="text-center"><h3>Country List</h3></th></tr>
        <tr>
            <th>SL.</th>
            <th>NAME</th>
            <th>ISD CODE</th>
            <th>CURRENCY</th>
            <th>PHONE</th>
            <th>STATUS</th>
<!--            <th >Action</th>-->
        </tr>
        </thead>
        <tbody>
        {% for country in country_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ country.name }}</td>
            <td>{{ country.isd_code }}</td>
            <td>{{ country.currency }}</td>
            <td>{{ country.phone_digit }}</td>
            <td>
                {% if country.status == 1 %}
                Active
                {% elif country.status == 2 %}
                Deactivate
                {% endif %}
            </td>
<!--            <td>-->
<!--                <a href="{% url 'App_Dashboard:edit_country' country_id=country.id %}"><i class="fas fa-edit mr-1">Edit</i></a>-->
<!--                <a href="{% url 'App_Dashboard:delete_country' country_id=country.id %}"><i class="fas fa-trash ml-1">Delete</i></a>-->
<!--            </td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}