{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{ title }} {% endblock %}

{% block css_block %}
.country {
width: 550px;
border: 1px solid #ccc;
padding: 25px;
}
{% endblock %}

{% block body_block %}
<center>
    <div class="country">
        <h3>Edit Country</h3>
        <form method="post" class="form-control">
            {% csrf_token %}
            {{ edit_form|crispy }}
            <br>
            <input type="submit" value="Update" name="submit" class="btn btn-info " style="width: 100%">
        </form>
    </div>
</center>



{% endblock %}